<!DOCTYPE html>
<html lang="en" th:fragment="parent(content,title)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">Document</title>
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body>
    
    <!-- navbar -->
    <div th:replace="navbar :: navbar"></div>
    
    <!-- main content -->
    <div class="p-4">
        <section th:replace="${content}"></section>
    </div>

    <!-- footer -->
     <i>Footer</i>
    
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>
</html>